<template>
  <div class="home">
    <center>
    <table class="card_settings_box">
        <tr>
            <td>
                <table>
                    <tr>
                        <td class="text_label">Faction</td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="chFaction('N')" :class="'square' + (card.faction === 'N' ? ' selected' : '')"><div class="faction_n" /></button>
                            <button @click="chFaction('NR')" :class="'square' + (card.faction === 'NR' ? ' selected' : '')"><div class="faction_nr" /></button>
                            <button @click="chFaction('NG')" :class="'square' + (card.faction === 'NG' ? ' selected' : '')"><div class="faction_ng" /></button>
                            <button @click="chFaction('MO')" :class="'square' + (card.faction === 'MO' ? ' selected' : '')"><div class="faction_mo" /></button>
                            <button @click="chFaction('ST')" :class="'square' + (card.faction === 'ST' ? ' selected' : '')"><div class="faction_st" /></button>
                            <button @click="chFaction('SK')" :class="'square' + (card.faction === 'SK' ? ' selected' : '')"><div class="faction_sk" /></button>
                            <button @click="chFaction('SY')" :class="'square' + (card.faction === 'SY' ? ' selected' : '')"><div class="faction_sy" /></button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="text_label">Second faction</td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="chFaction2('')" :class="'square' + (card.faction2 === '' ? ' selected' : '')">    <div class="faction_no" /></button>
                            <button @click="chFaction2('NR')" :class="'square' + (card.faction2 === 'NR' ? ' selected' : '')"><div class="faction_nr" /></button>
                            <button @click="chFaction2('NG')" :class="'square' + (card.faction2 === 'NG' ? ' selected' : '')"><div class="faction_ng" /></button>
                            <button @click="chFaction2('MO')" :class="'square' + (card.faction2 === 'MO' ? ' selected' : '')"><div class="faction_mo" /></button>
                            <button @click="chFaction2('ST')" :class="'square' + (card.faction2 === 'ST' ? ' selected' : '')"><div class="faction_st" /></button>
                            <button @click="chFaction2('SK')" :class="'square' + (card.faction2 === 'SK' ? ' selected' : '')"><div class="faction_sk" /></button>
                            <button @click="chFaction2('SY')" :class="'square' + (card.faction2 === 'SY' ? ' selected' : '')"><div class="faction_sy" /></button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="text_label">Frame</td>
                        <td class="text_label">Rarity</td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="chFrame('bronze')" :class="'square' + (card.frame === 'bronze' ? ' selected' : '')"><div class="frame_bronze" /></button>
                            <button @click="chFrame('gold')" :class="'square' + (card.frame === 'gold' ? ' selected' : '')"><div class="frame_gold" /></button>
                            <button @click="chFrame('leader')" :class="'square' + (card.frame === 'leader' ? ' selected' : '')"><div class="frame_leader" /></button>
                        </td>
                        <td>
                            <button @click="chRarity('common')" :class="'square' + (card.rarity === 'common' ? ' selected' : '')"><div class="rarity_common" /></button>
                            <button @click="chRarity('rare')" :class="'square' + (card.rarity === 'rare' ? ' selected' : '')"><div class="rarity_rare" /></button>
                            <button @click="chRarity('epic')" :class="'square' + (card.rarity === 'epic' ? ' selected' : '')"><div class="rarity_epic" /></button>
                            <button @click="chRarity('legendary')" :class="'square' + (card.rarity === 'legendary' ? ' selected' : '')"><div class="rarity_legendary" /></button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="text_label">Type</td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="chType('unit')" :class="'square' + (card.type === 'unit' ? ' selected' : '')">        <div class="type_unit" /></button>
                            <button @click="chType('special')" :class="'square' + (card.type === 'special' ? ' selected' : '')">  <div class="type_special" /></button>
                            <button @click="chType('artifact')" :class="'square' + (card.type === 'artifact' ? ' selected' : '')"><div class="type_artifact" /></button>
                            <button @click="chType('stubborn')" :class="'square' + (card.type === 'stubborn' ? ' selected' : '')"><div class="type_stubborn" /></button>
                            <button @click="chType('leader')" :class="'square' + (card.type === 'leader' ? ' selected' : '')">    <div class="type_leader" /></button>
                            <button @click="chType('elite')" :class="'square' + (card.type === 'elite' ? ' selected' : '')">    <div class="type_elite" /></button>
                        </td>
                    </tr>
                </table>
                <template v-if="card.type === 'leader'">
                    <table>
                        <tr>
                            <td class="text_label">Ability</td>
                            <td class="text_label">Icon</td>
                        </tr>
                        <tr>
                            <td>
                                <button @click="chAbility('attack')" :class="'square' + (card.ability === 'attack' ? ' selected' : '')"><div class="ability_attack" /></button>
                                <button @click="chAbility('defense')" :class="'square' + (card.ability === 'defense' ? ' selected' : '')"><div class="ability_defense" /></button>
                                <button @click="chAbility('summon')" :class="'square' + (card.ability === 'summon' ? ' selected' : '')"><div class="ability_summon" /></button>
                                <button @click="chAbility('special')" :class="'square' + (card.ability === 'special' ? ' selected' : '')"><div class="ability_special" /></button>
                                <button @click="chAbility('card')" :class="'square' + (card.ability === 'card' ? ' selected' : '')"><div class="ability_card" /></button>
                            </td>
                            <td>
                                <button @click="chCrown(false)" :class="'square' + (!card.hasCrown ? ' selected' : '')"><div class="no_crown" /></button>
                                <button @click="chCrown(true)" :class="'square' + (card.hasCrown ? ' selected' : '')"><div class="crown" /></button>
                            </td>
                        </tr>
                    </table>
                </template>
                <template v-if="card.type === 'elite'">
                    <table>
                        <tr>
                            <td class="text_label">Elite</td>
                        </tr>
                        <tr>
                            <td>
                                <button @click="chElite('f1')" :class="'square' + (card.elite === 'f1' ? ' selected' : '')"><div class="elite_f1" /></button>
                                <button @click="chElite('f2')" :class="'square' + (card.elite === 'f2' ? ' selected' : '')"><div class="elite_f2" /></button>
                                <button @click="chElite('f3')" :class="'square' + (card.elite === 'f3' ? ' selected' : '')"><div class="elite_f3" /></button>
                                <button @click="chElite('f4')" :class="'square' + (card.elite === 'f4' ? ' selected' : '')"><div class="elite_f4" /></button>
                                <button @click="chElite('f5')" :class="'square' + (card.elite === 'f5' ? ' selected' : '')"><div class="elite_f5" /></button>
                            </td>
                        </tr>
                    </table>
                </template>
                <br/>
                <div class="input_number">
                    <table style="margin: 0 auto; border-collapse: collapse; layout: fixed;">
                        <tr>
                            <td class="td_num_bg" valign="bottom"><div class="power"></div></td>
                            <td class="td_num_bg" valign="bottom"><div :class="card.armorType === 'new' ? 'armor_new' : 'armor'" @click="chArmorType()"></div></td>
                            <td class="td_num_bg" valign="bottom"><div class="provision"></div></td>
                        </tr>
                        <tr>
                            <td class="num"><input v-model="card.power" type="number" @input="number_validate('power')" /></td>
                            <td class="num"><input v-model="card.armor" type="number" @input="number_validate('armor')" /></td>
                            <td class="num"><input v-model="card.provision" type="number" @input="number_validate('provision')" /></td>
                        </tr>
                    </table>
                </div>
                <br/>
                <center>
                    <label class="file_label" for="loadImage">
                        <input id="loadImage" type="file" placeholder="" @change="loadImage" accept="image/*" />
                        <span>Load image</span>
                    </label>
                </center>
            </td>
            <td class="card_inputs">
                <div class="text_label">Card Name</div>
                <input type="text" v-model="card.title">

                <div class="text_label">Categories</div>
                <input type="text" v-model="card.categories">

                <table width="100%"><tr><td><div class="text_label">Description</div></td><td style="text-align: right;"><div  class="text_label tooltip">?<span class="tooltiptext" /></div></td></tr></table>
                <textarea v-model="card.description" class="input_description" multiline />

                    <table width="100%"><tr><td><div class="text_label">Keywords</div></td>
                            <td style="text-align: right; vertical-align: bottom;">
                                <button class="fill_button" @click="fillKeywords" title="Autofill keywords from descriptions">FILL</button>
                            </td></tr></table>
                <textarea v-model="card.keywords" class="input_flavour" multiline />

                <div class="text_label">Flavour text</div>
                <textarea v-model="card.flavour" class="input_flavour" multiline />
            </td>
        </tr>
    </table>
    </center>
    <template v-for="t, tInd in card.tokens">
        <br />
        <br />
        <center><TokenEditor v-model="card.tokens[tInd]" :id="tInd" @remove="removeToken" /></center>
    </template>
    <br />
    <button class="add_token" @click="addToken">Add token</button>
    <br />
    <br />
    <center>
        <button :class="'preview_button' + (bigPreview ? ' selected' : '')" @click="chPreview(true)">Big card info</button>
        <button :class="'preview_button' + (bigPreview ? '' : ' selected')" @click="chPreview(false)">Small card info</button>
    </center>
    <br />
    <center>
        <div id="card_container_container" class="card_container_container">
            <div class="card_container" id="card_container">
                <div ref="card_preview" id="card_preview" style="display: inline-block;">
                    <template v-if="bigPreview">
                        <CardBigInfo :card="card" :transparency="transparency" />
                    </template>
                    <template v-else>
                        <CardSmallInfo :card="card" :transparency="transparency" />
                    </template>
                </div>
            </div>
        </div>
        <table style="">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="vertical-align: middle;">
                                <div class="transparency_label">Background:</div>
                            </td>
                            <td style="vertical-align: middle; text-align: right;">
                                <button :class="'button_transparency' + (transparency === 'transparent' ? ' selected' : '')" @click="transparency = 'transparent'"><div class="tr_tr" /></button>
                                <button :class="'button_transparency' + (transparency === 'black' ? ' selected' : '')" @click="transparency = 'black'"><div class="tr_bl" /></button>
                                <button :class="'button_transparency' + (transparency === 'white' ? ' selected' : '')" @click="transparency = 'white'"><div class="tr_wh" /></button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <button :class="'download_button ' + (downloading ? 'ondownloading' : 'strong')" @click="downloadImage">Download card</button>
                </td>
            </tr>
        </table>
      </center>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import CardPreview from '@/components/CardPreview.vue';
import CardBigInfo from '@/components/CardBigInfo.vue';
import CardSmallInfo from '@/components/CardSmallInfo.vue';
import TokenEditor from '@/components/TokenEditor.vue';

import domtoimage from 'dom-to-image';
import { saveAs } from 'file-saver';

import { keywordsFill } from '@/keywords';

@Component({
  components: {
    CardPreview,
    CardBigInfo,
    CardSmallInfo,
    TokenEditor,
  },
})
export default class Home extends Vue {

    private card!: any;
    private bigPreview!: boolean;
    private downloading!: boolean;
    private widthInfo!: number;

    private data(): any {
        return {
            bigPreview: true,
            transparency: 'transparent',
            downloading: false,
            widthInfo: 1560,
            card: {
                imgSrc: '',
                title: 'Card Name',
                categories: 'Human',
                description: '[Deploy:] do something.',
                keywords: '[Deploy:] Trigger this ability when played.',
                flavour: 'Up for a round of Gwent?',
                faction: 'N',
                faction2: '',
                frame: 'bronze',
                type: 'unit',
                armorType: 'new',
                ability: 'attack',
                elite: 'f1',
                hasCrown: true,
                rarity: 'common',
                power: 4,
                armor: 0,
                provision: 6,
                tokens: [
                ],
            },
        };
    }

    private mounted() {
        this.onResize();
        this.$nextTick(this.resizeCardContainer);
    }

    private created() {
        window.addEventListener('resize', this.onResize);
    }

    private beforeDestroy() {
        window.removeEventListener('resize', this.onResize);
    }

    private onResize() {
        if (window.innerWidth >= 1580) {
            this.$set(this, 'widthInfo', 1560);
            return;
        }

        if (window.innerWidth >= 1270) {
            this.$set(this, 'widthInfo', 1260);
            return;
        }

        this.$set(this, 'widthInfo', 990);
    }

    @Watch('card', { immediate: true, deep: true})
    private cardChanged(old: any, val: any) {
        this.$nextTick(this.resizeCardContainer);
    }

    @Watch('widthInfo', { immediate: true, deep: true})
    private widthInfoChange(old: any, val: any) {
        this.$nextTick(this.resizeCardContainer);
    }

    private resizeCardContainer(): void {
        const sc = this.bigPreview ? this.widthInfo / 1550 : 1;

        const containerContainer = document.getElementById('card_container_container');
        if (containerContainer === null) {
            return;
        }

        const container = document.getElementById('card_container');
        if (container === null) {
            return;
        }

        const cardPreview = document.getElementById('card_preview');
        if (cardPreview === null) {
            return;
        }

        const h = cardPreview.clientHeight;
        container.style.transform = 'scale(' + sc + ')';
        container.style.transformOrigin = 'left bottom';
        container.style.marginTop = (-(1 - sc) * h) + 'px';

        containerContainer.style.width = this.widthInfo + 'px';
    }

    private chPreview(bigPreview: boolean) {
        this.bigPreview = bigPreview;
        this.$nextTick(this.resizeCardContainer);
    }

    private chFaction(faction: string): void {
        this.$set(this.card, 'faction', faction);
    }

    private chFaction2(faction: string): void {
        this.$set(this.card, 'faction2', faction);
    }

    private chFrame(frame: string): void {
        this.$set(this.card, 'frame', frame);
    }

    private chRarity(rarity: string): void {
        this.$set(this.card, 'rarity', rarity);
    }

    private chType(type: string): void {
        this.$set(this.card, 'type', type);
    }

    private chAbility(ability: string): void {
        this.$set(this.card, 'ability', ability);
    }

    private chElite(elite: string): void {
        this.$set(this.card, 'elite', elite);
    }

    private chCrown(hasCrown: boolean): void {
        this.$set(this.card, 'hasCrown', hasCrown);
    }

    private chArmorType(): void {
        if (this.card.armorType === 'new') {
            this.$set(this.card, 'armorType', 'old');
        } else {
            this.$set(this.card, 'armorType', 'new');
        }
    }

    private loadImage(event: any): void {
        const image = event.target.files[0];
        const imageReader = new FileReader();

        imageReader.onload = (loadEvent: any) => {
            this.$set(this.card, 'imgSrc', loadEvent.target.result);
        };

        imageReader.readAsDataURL(image);
    }

    private removeToken(tid: number): void {
       this.card.tokens.splice(tid, 1);
    }

    private addToken(): void {
        this.card.tokens.push({
            imgSrc: '',
            title: 'Token name',
            description: '[Order:] do something else.',
            categories: 'Token',
            faction: this.card.faction,
            frame: this.card.frame,
            type: 'unit',
            armorType: this.card.armorType,
            rarity: this.card.rarity,
            ability: 'attack',
            elite: 'f1',
            hasCrown: true,
            power: 1,
            armor: 0,
            provision: 0,
        });
    }

    private downloadImage(): void {
        const that = this;
        const title = this.card.title;

        that.downloading = true;
        domtoimage.toBlob(document.getElementById('card_preview'))
            .then((blob: any) => {
                const name: string = title === '' ? 'card.png' : title.replace(/[^\w+]/g, '_') + '.png' as string;
                saveAs(blob, name);
                that.downloading = false;
            })
            .catch((error: any) => {
                that.downloading = false;
                console.error('Something went wrong on download!', error);
            });
    }

    private number_validate(name: string): void {
        const val = this.card[name].replace(/^0+/, '');
        if (val < 0) {
            this.$set(this.card, name, 0);
            return;
        }
        if (val > 99) {
            this.$set(this.card, name, 99);
            return;
        }
        this.$set(this.card, name, val);
    }

    private fillKeywords(): void {
        let descriptions = this.card.description;
        for (const tok of this.card.tokens) {
            descriptions += '\n' + tok.description;
        }
        this.$set(this.card, 'keywords', keywordsFill(descriptions));
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/scss/common.scss';

table {
    margin: 0;
    padding: 0;
    border: 0;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.home {
    margin: 15px 0 0 0;
    text-align: center;
}

.input_title {
}

.card_inputs {
    padding: 0 0 0 20px;
    width: 350px;
}

.card_settings_box {
    padding: 50px;
    border-image: url(/img/bg.jpg) 50 fill /50px stretch stretch;
    width: 890px;
}

.card_container_container {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.card_container {
    display: inline-block;
    overflow: hidden;
}

.preview_button {
    margin: 20px 10px 0 10px;
    padding: 20px;
    width: 250px;
    text-transform: uppercase;
    font-family: "Gwent";
    font-size: 25px;
    color: $button-text-color;
}

.download_button {
    padding: 20px;
    width: 300px;
    text-transform: uppercase;
    font-family: "Gwent";
    font-size: 25px;
    color: black;
}

.button_transparency {
    margin: 2px;
    height: 44px;
    width: 44px;
}

.tr_tr {
    height: 100%;
    width: 100%;
    background: url(/img/buttons/t_t.png) no-repeat center;
    background-size: 20px 20px;
}

.tr_bl {
    height: 100%;
    width: 100%;
    background: url(/img/buttons/t_b.png) no-repeat center;
    background-size: 20px 20px;
}

.tr_wh {
    height: 100%;
    width: 100%;
    background: url(/img/buttons/t_w.png) no-repeat center;
    background-size: 20px 20px;
}

.transparency_label {
    margin: 0 3px 0 2px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Gwent";
    font-size: 25px;
    color: #aaa;
}

.ondownloading {
    border-image: url(/img/buttons/button_active.png) 11 fill /11px stretch stretch;
    cursor: pointer;
}

.fill_button {
    background: #2b1e16;
    border-image: url(/img/buttons/button_small.png) 6 fill /6px stretch stretch;
    cursor: pointer;

    margin: 0 0 0px 0;
    padding: 4px 15px 3px 15px;
    color: #bbb;
    font-family: "Gwent";
    font-size: 15px;
}

.fill_button:hover {
    border-image: url(/img/buttons/button_small_active.png) 6 fill /6px stretch stretch;
    cursor: pointer;
}

</style>
