<template>
    <div class="card_container" @mousedown="moving" :style="{ width: canvasWidth + 'px', height: canvasHeight + 'px' }">
        <div class="viewport">
            <div class="background_container">
                <img
                    v-if="src !== ''"
                    :class="imageClasses"
                    draggable="false"
                    :src="src"
                    :style="{ top: imgDY + 'px', left: imgDX + 'px' }"
                    crossorigin="anonymous"
                />
            </div>

            <img class="card_frame" draggable="false" :src="frameURL" crossorigin="anonymous" />
            <img v-if="type !== 'elite'" class="card_banner" draggable="false" :src="bannerURL" crossorigin="anonymous" />
            <img v-if="type !== 'elite'" :class="'card_type' + (type === 'leader' ? ' color_' + faction : '')" draggable="false" :src="typeURL" crossorigin="anonymous" />

            <img v-if="type !== 'leader' && type !== 'elite'" class="card_rarity" draggable="false" :src="rarityURL" crossorigin="anonymous" />

            <template v-if="armor > 0 && type !== 'leader' && type !== 'elite'">
                <template v-if="armorType === 'new'">
                    <img class="card_armor_new" draggable="false" src="/img/elements/armor_new.png" crossorigin="anonymous" />
                </template>
                <template v-else >
                    <img class="card_armor_prov" draggable="false" src="/img/elements/armor.png" crossorigin="anonymous" />
                </template>
            </template>

            <template v-if="type === 'leader'">
                <img class="card_armor_prov" draggable="false" src="/img/elements/provision.png" crossorigin="anonymous" />
                <img v-if="hasCrown" :class="'card_crown card_crown_' + ability" draggable="false" src="/img/elements/abilities/crown.png" crossorigin="anonymous" />
            </template>

            <template v-if="provision > 0 && type !== 'leader' && type !== 'elite'">
                <img class="card_provision" draggable="false" :src="provisionURL" crossorigin="anonymous" />
                <img class="card_provision_head" draggable="false" src="/img/elements/provision_head.png" crossorigin="anonymous" />
            </template>

            <template v-if="type === 'unit'">
                <div class="card_power_container">
                    <PreviewText :text="power" :scale="scale" color="white" />
                </div>
            </template>

            <template v-if="armor > 0 && type !== 'leader' && type != 'elite'">
                <template v-if="armorType === 'new'">
                    <div class="card_armor_new_container">
                        <PreviewText :text="armor" :scale="scale" color="white" />
                    </div>
                </template>
                <template v-else >
                    <div class="card_armor_container">
                        <PreviewText :text="armor" :scale="scale * 0.78" color="black" />
                    </div>
                </template>
            </template>
            <template v-else-if="type === 'leader'">
                <div class="card_armor_container">
                    <PreviewText :text="provision" :scale="scale * 0.78" color="black" />
                </div>
            </template>

            <template v-if="type !== 'leader' && type != 'elite' && provision > 0">
                <div class="card_provision_container">
                    <PreviewText :text="provision" :scale="scale * 0.66" color="yellow" />
                </div>
            </template>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Watch, Prop, Vue } from 'vue-property-decorator';
import PreviewText from '@/components/PreviewText.vue';

const DEFAULT_WIDTH = 497;
const DEFAULT_HEIGHT = 713;

@Component({
  components: {
    PreviewText,
  },
})
export default class CardPreview extends Vue {
    @Prop({required : true}) private src!: string;

    @Prop({default : 1}) private scale!: number;
    @Prop({default : 'gold'}) private frame!: string;
    @Prop({default : 'legendary'}) private rarity!: string;
    @Prop({default : 'leader'}) private type!: string;
    @Prop({default : 'new'}) private armorType!: string;
    @Prop({default : 'attack'}) private ability!: string;
    @Prop({default : 'elite'}) private elite!: string;
    @Prop({default : true}) private hasCrown!: boolean;
    @Prop({default : 'MO'}) private faction!: string;
    @Prop({default : 0}) private power!: number;
    @Prop({default : 0}) private armor!: number;
    @Prop({default : 0}) private provision!: number;

    private canvasWidth!: number;
    private canvasHeight!: number;
    private bannerWidth!: number;

    private imgWidth!: number;
    private imgHeight!: number;
    private imgDX!: number;
    private imgDY!: number;

    private data(): any {
        return {
            canvasWidth: DEFAULT_WIDTH,
            canvasHeight: DEFAULT_HEIGHT,
            imgWidth: 0,
            imgHeight: 0,
            imgDX: 0,
            imgDY: 0,
        };
    }

    private created(): void {
        this.onScaleChange(this.scale, 0);
        this.onSrcChange(this.src, '');
    }

    @Watch('scale')
    private onScaleChange(val: number, old: number): void {
        this.canvasHeight = Math.round(DEFAULT_HEIGHT * val);
        this.canvasWidth = Math.round(DEFAULT_WIDTH * val);
    }

    private moving(e: any) {
            let initX = e.clientX;
            let initY = e.clientY;

            const move = (me: any) => {
                if (this.isVertDrag) {
                    this.imgDX = 0;
                    this.imgDY += me.clientY - initY;
                } else {
                    this.imgDX += me.clientX - initX;
                    this.imgDY = 0;
                }
                initX = me.clientX;
                initY = me.clientY;
            };

            addEventListener('mousemove', move);
            addEventListener('mouseup', (ev: any) => {
                removeEventListener('mousemove', move);
            });
    }

    @Watch('src')
    private onSrcChange(val: string, old: string): void {
        const tmpImg = new Image();
        tmpImg.src = val;
        tmpImg.onload = () => {
            this.imgWidth = tmpImg.width;
            this.imgHeight = tmpImg.height;
            this.imgDX = 0;
            this.imgDY = 0;
        };
    }

    get imageClasses(): any {
        return {
            image_container: true,
            vert_drag: this.isVertDrag,
            hor_drag: !this.isVertDrag,
        };
    }

    get isVertDrag(): boolean {
        return (this.imgWidth / (0.96 * this.canvasWidth)) < (this.imgHeight / (0.98 * this.canvasHeight));
    }

    get bannerURL(): string {
        if (this.type === 'leader') {
            return '/img/banners/' + this.faction + '_banner.png';
        }
        if (this.armor > 0 && this.armorType === 'old') {
            return '/img/banners/' + this.faction + '_armor.png';
        }
        return '/img/banners/' + this.faction + '.png';
    }

    get frameURL(): string {
        if (this.type === 'elite') {
            return '/img/frames/elite_' + this.elite + '.png';
        }
        return '/img/frames/' + this.frame + '.png';
    }

    get rarityURL(): string {
        return '/img/elements/rarity/' + this.rarity + '.png';
    }

    get typeURL(): string {
        if (this.type !== 'leader') {
            return '/img/elements/type/' + this.type + '.png';
        }
        return '/img/elements/abilities/' + this.ability + '.png';
    }

    get provisionURL(): string {
        return '/img/provisions/' + this.faction + '.png';
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/scss/common.scss';

.tmp_power {
}

.card_container {
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 0;
    overflow: hidden;
    cursor: move;
}

.background_container {
    position: absolute;
    height: 98%;
    width: 96%;
    left: 2%;
    top: 1%;
    overflow: hidden;
    background: url(/img/card_bg.jpg);
}

.image_container {
    position: absolute;
    z-index: 0;
}

.vert_drag {
    width: 100%;
    height: auto;
}

.hor_drag {
    width: auto;
    height: 100%;
}

.card_frame {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card_banner {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 33%;
    height: auto;
}

.card_rarity {
    position: absolute;
    z-index: 3;
    top: 3.25%;
    left: 4.8%;
    width: 6.8%;
    height: auto;
}

.card_type {
    position: absolute;
    z-index: 4;
    top: 2.2%;
    left: 2.8%;
    width: 27%;
    height: auto;
}

.card_crown {
    position: absolute;
    z-index: 4;
    width: 27%;
    height: auto;
    left: 2.8%;
}

.card_crown_attack {
    top: 2.7%;
}

.card_crown_defense {
    top: 0%;
}

.card_crown_summon {
    top: 2.2%;
}

.card_crown_special {
    top: 1.0%;
}

.card_crown_card {
    top: 2.0%;
}

.color_MO {
    -webkit-filter: sepia(100%) hue-rotate(320deg) saturate(700%) brightness(37%);
    filter: sepia(100%) hue-rotate(320deg) saturate(700%) brightness(37%);
}

.color_NG {
}

.color_SK {
    -webkit-filter: sepia(100%) hue-rotate(235deg) saturate(200%) brightness(60%);
    filter: sepia(100%) hue-rotate(235deg) saturate(200%) brightness(60%);
}

.color_NR {
    -webkit-filter: sepia(100%) hue-rotate(170deg) saturate(300%) brightness(75%);
    filter: sepia(100%) hue-rotate(170deg) saturate(300%) brightness(75%);
}

.color_ST {
    -webkit-filter: sepia(100%) hue-rotate(30deg) saturate(300%) brightness(75%);
    filter: sepia(100%) hue-rotate(30deg) saturate(300%) brightness(75%);
}

.color_SY {
    -webkit-filter: sepia(100%) hue-rotate(350deg) saturate(500%) brightness(75%);
    filter: sepia(100%) hue-rotate(350deg) saturate(500%) brightness(75%);
}

.color_N {
    -webkit-filter: sepia(100%) saturate(300%) brightness(75%);
    filter: sepia(100%) saturate(300%) brightness(75%);
}

.card_armor_prov {
    position: absolute;
    z-index: 4;
    top: 21.3%;
    left: 5%;
    width: 23%;
    height: auto;
}

.card_armor_new {
    position: absolute;
    z-index: 4;
    top: 1.3%;
    left: 70%;
    width: 30%;
    height: auto;
}

.card_provision {
    position: absolute;
    z-index: 4;
    top: 82.5%;
    left: 79%;
    width: 17%;
    height: 15%;
}

.card_provision_head {
    position: absolute;
    z-index: 4;
    top: 71%;
    left: 79%;
    width: 17%;
    height: auto;
}

.viewport {
    width: 100%;
    height: 100%;
}

.card_power_container {
    position: absolute;
    z-index: 10;
    top: 3.6%;
    left: 1.5%;
    width: 30%;
}

.card_armor_container {
    position: absolute;
    z-index: 10;
    top: 23.3%;
    left: 5.5%;
    width: 22%;
}

.card_armor_new_container {
    position: absolute;
    z-index: 10;
    top: 3.3%;
    left: 73.7%;
    width: 22%;
}

.card_provision_container {
    position: absolute;
    z-index: 10;
    top: 85.0%;
    left: 78%;
    width: 19%;
}

</style>
