<template>
    <div :class="'main_div' + ' bg_' + transparency">
        <table>
            <tr>
                <td class="card_preview">
                        <CardPreview
                            :src="card.imgSrc"
                            :scale="0.65"
                            :faction="card.faction"
                            :power="card.power"
                            :armor="card.armor"
                            :frame="card.frame"
                            :rarity="card.rarity"
                            :type="card.type"
                            :armorType="card.armorType"
                            :ability="card.ability"
                            :elite="card.elite"
                            :hasCrown="card.hasCrown"
                            :provision="card.provision"
                        />
                        <center><span class="watermark">MADE WITH: <b>GWENTCARD.ONLINE</b></span></center>
                </td>
                <td class="card_info">
                    <div class="card_header_bg">
                        <div class="card_title_bg">
                            <img class="faction_header_bg" draggable="false" width="100%" height="100%" :src="factionHeaderURL" />
                            <img v-if="card.faction2 !== ''" class="faction2_header_bg" draggable="false" width="100%" height="100%" :src="faction2HeaderURL" />
                            <div class="card_header_container">
                                <div class="card_title">
                                    {{ card.title }}
                                </div>
                                <div class="card_categories">
                                    {{ card.categories }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_description_bg">
                        <div class="card_description">
                            <div v-html="processedDescription(card.description)" style="white-space: pre-wrap;"></div>
                            <template v-if="card.keywords.length > 0">
                                <center><img width="80%" draggable="false" src="/img/headers/separator.png" /></center>
                                <div v-html="processedDescription(card.keywords)" style="white-space: pre-wrap; font-style: italic;"></div>
                            </template>
                        </div>
                        <template v-if="card.flavour !== ''">
                            <div class="card_divider"></div>
                            <div class="card_footer">{{ card.flavour }}</div>
                        </template>
                    </div>
                    <div class="card_footer_bg">
                    </div>
                </td>
            </tr>
        </table>
        <template v-for="t in card.tokens">
            <table class="token_table">
                <tr class="token_table_header"><td></td></tr>
                <tr class="token_table_description">
                    <td>
                        <table>
                            <tr>
                                <td class="token_preview">
                                    <CardPreview
                                        :src="t.imgSrc"
                                        :scale="0.2"
                                        :faction="t.faction"
                                        :power="t.power"
                                        :armor="t.armor"
                                        :ability="t.ability"
                                        :elite="t.elite"
                                        :hasCrown="t.hasCrown"
                                        :frame="t.frame"
                                        :rarity="t.rarity"
                                        :type="t.type"
                                        :armorType="t.armorType"
                                    />
                                </td>
                                <td class="token_info">
                                    <!-- {{t}} -->
                                    <div class="token_title">{{ t.title }}</div>
                                    <div class="token_categories">{{ t.categories }}</div>
                                    <div v-html="processedDescription(t.description)" style="white-space: pre-wrap;"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="token_table_footer"><td></td></tr>
            </table>
        </template>
    </div>
</template>

<script lang="ts">
import { Component, Watch, Prop, Vue } from 'vue-property-decorator';
import CardPreview from '@/components/CardPreview.vue';
import PreviewText from '@/components/PreviewText.vue';
import { processedText } from '@/common';

@Component({
  components: {
    CardPreview,
    PreviewText,
  },
})
export default class CardSmallInfo extends Vue {
    @Prop({required : true}) private card!: any;
    @Prop({default: 'transparent'}) private transparency!: string;

    private processedDescription(description: any): string {
        return processedText(description);
    }

    get factionHeaderURL(): string {
        return '/img/headers/' + this.card.faction +  '_small_full.png';
    }

    get faction2HeaderURL(): string {
        return '/img/headers/' + this.card.faction2 +  '_small_half.png';
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/scss/common.scss';

table {
    table-layout: fixed;
    padding: 0;
    margin: 0;
    border: 0px solid red;
}

div {
    text-align: left;
}

.main_div {
    padding: 10px;
    display: inline-block;
}

.token_table {
    width: 660px;
    border-collapse: collapse;
}

.token_table_header {
    background: url(/img/headers/header_small_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 10px;
}

.token_table_description {
    padding: 0px 10px 0 10px;
    background: url(/img/headers/description_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.token_table_footer {
    background: url(/img/headers/footer_small_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 10px;
}

.token_preview {
    padding: 0 0 0 10px;
    width: 100px;
}

.token_info {
    padding: 5px 0 0 20px;
    vertical-align: top;
    font-size: 17px;
    font-family: "Halis", Helvetica, Arial, sans-serif;
    color: $description-color;
}

::v-deep .token_info b {
    color: $keyword-color;
}

.token_title {
    font-size: 25px;
    font-family: "Gwent", Helvetica, Arial, sans-serif;
    color: $token-title-color;
    text-transform: uppercase;
}

.token_categories {
    font-size: 19px;
    font-family: "Halis", Helvetica, Arial, sans-serif;
    color: $description-color;
}

tr {
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    margin: 0;
}

.card_info {
    vertical-align: top;
    width: 325px;
    border: 0px solid red;
}

.card_header_bg {
    background: url(/img/headers/header_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 110px;
    width: 325px;
}

.card_description_bg {
    background: url(/img/headers/description_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 102%;
    width: 325px;
    overflow-x: hidden;
}

.card_description {
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    font-family: "Halis", Helvetica, Arial, sans-serif;
    text-align: left;
    color: $description-color;
}

::v-deep .card_description b {
    color: $keyword-color;
}

.card_footer_bg {
    postion: absolute;
    background: url(/img/headers/footer_small_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 12px;
    width: 325px;
}

.card_footer_container {
    position: relative;
    top: 2px;
    height: 82px;
    width: 325px;
    overflow: hidden;
}

.card_divider {
    position: relative;
    left: 2px;
    background: url(/img/headers/divider.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 3px;
    width: 321px;
}

.card_footer {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 5px 5px 20px;
    font-size: 16px;
    font-family: "Halis", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: $description-color;
}

.card_title_bg {
    position: relative;
    left: 1px;
    top: 0px;
    width: 324px;
    height: 106px;
    overflow: hidden;
}

.card_header_container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 3;
    width: 308px;
    height: 100px;
}

.card_title {
    display: inline-block;
    width: 100%;
    z-index: 3;
    font-size: 30px;
    font-family: "Gwent", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    @include stroke(1, black);
}

.card_categories {
    display: inline-block;
    width: 100%;
    font-size: 23px;
    font-family: "Halis", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    @include stroke(1, black);
}

.card_preview {
    border: 0px solid red;
    padding: 0;
    width: 325px;
    vertical-align: top;
}

.faction_header_bg {
    position: absolute;
    left: 0;
    z-index: 1;
}

.faction2_header_bg {
    position: absolute;
    left: 0;
    z-index: 2;
}

.card_power {
    position: absolute;
    z-index: 3;
    top: 17px;
    width: 115px;
}

.watermark {
    font-family: "Halis", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #666;
}

</style>
