<template>
    <div :class="'main_div' + ' bg_' + transparency">
        <table class="main_table" >
            <tr>
                <td class="card_info">
                    <div class="card_header_bg">
                        <div class="card_title_bg">
                            <img class="faction_header_bg" draggable="false" width="100%" height="100%" :src="factionHeaderURL" />
                            <img v-if="card.faction2 !== ''" class="faction2_header_bg" draggable="false" width="100%" height="100%" :src="faction2HeaderURL" />
                            <div v-if="card.type === 'unit'" class="card_power">
                                <PreviewText :text="card.power" color="white" :scale="0.8" />
                            </div>
                            <div class="card_title" :style="{ left : (card.type === 'unit' ? 120 : 50) + 'px'  }">
                                {{ card.title }}
                            </div>
                            <div class="card_categories" :style="{ left : (card.type === 'unit' ? 122 : 52) + 'px'  }">
                                {{ card.categories }}
                            </div>
                        </div>
                    </div>
                    <div class="card_description_bg">
                        <div class="card_description">
                            <div v-html="processedDescription(card.description)" style="white-space: pre-wrap;"></div>
                            <template v-for="t in card.tokens">
                                <center><img draggable="false" width="314px" height="26" src="/img/headers/separator.png" /></center>
                                <table>
                                    <tr>
                                        <td class="token_preview">
                                            <CardPreview
                                                :src="t.imgSrc"
                                                :scale="0.2"
                                                :faction="t.faction"
                                                :power="t.power"
                                                :armor="t.armor"
                                                :ability="t.ability"
                                                :elite="t.elite"
                                                :hasCrown="t.hasCrown"
                                                :frame="t.frame"
                                                :rarity="t.rarity"
                                                :type="t.type"
                                                :armorType="t.armorType"
                                            />
                                        </td>
                                        <td class="token_info">
                                            <!-- {{t}} -->
                                            <div class="token_title">{{ t.title }}</div>
                                            <div class="token_categories">{{ t.categories }}</div>
                                            <div v-html="processedDescription(t.description)" style="white-space: pre-wrap;"></div>
                                        </td>
                                    </tr>
                                </table>
                            </template>
                            <template v-if="card.keywords.length > 0">
                                <center><img draggable="false" src="/img/headers/separator.png" /></center>
                                <div v-html="processedDescription(card.keywords)" style="white-space: pre-wrap; font-style: italic;"></div>
                            </template>
                        </div>
                    </div>
                    <div class="card_footer_bg">
                        <div class="card_footer_container">
                            <div class="card_footer">{{ card.flavour }}</div>
                        </div>
                    </div>
            </td>
                <td class="card_preview">
                        <CardPreview
                            :src="card.imgSrc"
                            :scale="1"
                            :faction="card.faction"
                            :power="card.power"
                            :armor="card.armor"
                            :frame="card.frame"
                            :rarity="card.rarity"
                            :type="card.type"
                            :armorType="card.armorType"
                            :ability="card.ability"
                            :elite="card.elite"
                            :hasCrown="card.hasCrown"
                            :provision="card.provision"
                        />
                        <center><span class="watermark">MADE WITH: <b>GWENTCARD.ONLINE</b></span></center>
                </td>
            </tr>
            <tr><td></td><td></td></tr>
        </table>
    </div>
</template>

<script lang="ts">
import { Component, Watch, Prop, Vue } from 'vue-property-decorator';
import CardPreview from '@/components/CardPreview.vue';
import PreviewText from '@/components/PreviewText.vue';
import { processedText } from '@/common';

@Component({
  components: {
    CardPreview,
    PreviewText,
  },
})
export default class CardBigInfo extends Vue {
    @Prop({required : true}) private card!: any;
    @Prop({default: 'transparent'}) private transparency!: string;

    private processedDescription(description: any): string {
        return processedText(description);
    }

    get factionHeaderURL(): string {
        return '/img/headers/' + this.card.faction +  '_full.png';
    }

    get faction2HeaderURL(): string {
        return '/img/headers/' + this.card.faction2 +  '_half.png';
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/scss/common.scss';

table {
    table-layout: fixed;
    padding: 0;
    margin: 0;
    border: 0px solid red;
}

tr {
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    margin: 0;
}

.main_div {
    padding: 10px;
    display: inline-block;
}

.main_table {
}

.card_info {
    vertical-align: top;
    width: 1024px;
}

.card_header_bg {
    background: url(/img/headers/header_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 137px;
    width: 1024px;
}

.card_description_bg {
    background: url(/img/headers/description_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 102%;
    min-height: 472px;
    width: 1024px;
}

.card_description {
    padding: 20px 40px 20px 40px;
    font-size: 19px;
    font-family: "Halis", Helvetica, Arial, sans-serif;
    text-align: left;
    color: $description-color;
}

::v-deep .card_description b {
    color: $keyword-color;
}

.card_footer_bg {
    postion: absolute;
    background: url(/img/headers/footer_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 102px;
    width: 1024px;
}

.card_footer_container {
    position: relative;
    top: 5px;
    height: 82px;
    width: 1024px;
    overflow: hidden;
}

.card_footer {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 40px 10px 40px;
    height: 82px;
    font-size: 19px;
    font-family: "Halis", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: $description-color;
}

.card_title_bg {
    position: relative;
    left: 7px;
    top: 8px;
    width: 1009px;
    height: 124px;
    overflow: hidden;
}

.card_title {
    position: absolute;
    top: 30px;
    z-index: 3;
    font-size: 35px;
    font-family: "Gwent", Helvetica, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    @include stroke(1, black);
}

.card_categories {
    position: absolute;
    top: 67px;
    z-index: 3;
    font-size: 25px;
    font-family: "Halis", Helvetica, Arial, sans-serif;
    color: white;
    @include stroke(1, black);
}

.card_preview {
    border: 0px solid red;
    padding: 0;
    width: 500px;
    vertical-align: top;
}

.token_preview {
}

.token_info {
    padding: 5px 0 0 20px;
    vertical-align: top;
}

.token_title {
    font-size: 25px;
    font-family: "Gwent", Helvetica, Arial, sans-serif;
    color: $token-title-color;
    text-transform: uppercase;
}

.token_categories {
    font-size: 19px;
    font-family: "Halis", Helvetica, Arial, sans-serif;
    color: $description-color;
}

.faction_header_bg {
    position: absolute;
    left: 0;
    z-index: 1;
}

.faction2_header_bg {
    position: absolute;
    left: 0;
    z-index: 2;
}

.card_power {
    position: absolute;
    z-index: 3;
    top: 17px;
    width: 115px;
}

.watermark {
    font-family: "Halis", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #666;
}

</style>
