<template>
    <div>
    <div>
        <div v-if="color !== 'black'" :class="shadowClasses" :style="{ fontSize: 115 * scale + 'px' }">{{ text }}</div>
        <template v-for="n, ind in 10">
            <div
                :class="classes + n"
                :style="{
                        fontSize: String(115 * scale) + 'px',
                        height: String(120 * scale * (1-(ind/10))) + 'px',
                    }">{{ text }}</div>
        </template>
    </div>
    <!-- <svg width="100%" height="100%" viewBox="0 0 100 100" -->
    <!--    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> -->

    <!--     <foreignObject -->
    <!--         v-if="color !== 'black'" -->
    <!--         width="100%" height="100%" -->
    <!--         class="text text_shadow" -->
    <!--     > -->
    <!--         {{ text }} -->
    <!--     </foreignObject> -->
    <!--     <template v-for="n, ind in 10"> -->
    <!--         <foreignObject -->
    <!--             width="100%" -->
    <!--             :height="String(80 * (1-(ind/10))) + 'px'" -->
    <!--             :class="classes + n" -->
    <!--         > -->
    <!--             {{ text }} -->
    <!--         </foreignObject> -->
    <!--     </template> -->
    <!-- </svg> -->
    </div>
</template>

<script lang="ts">
import { Component, Watch, Prop, Vue } from 'vue-property-decorator';

@Component
export default class PreviewText extends Vue {
    @Prop({required : true}) private text!: string;
    @Prop({required : true}) private color!: string;
    @Prop({default : 1.0}) private scale!: number;

    get classes(): string {
        return 'text text_' + this.color;
    }

    get shadowClasses(): string {
        return 'text text_shadow' + (this.scale < 0.5 ? '1' : '2');
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/scss/common.scss';

.text {
    position: absolute;
    font-size: 80px;
    font-family: "Gwent", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
}

@mixin grad($color_name, $from, $to, $num) {
    @for $i from 1 through $num {
        $scale: $i/$num;
        $zind: $i + 1;
        .text_#{$color_name}#{$i} {
            color: mix($from, $to, $scale * 100);
            overflow: hidden;
            z-index: $zind;
        }
    }
}

@include grad('white', #f2f1e2, #bcb6a9, 10);
@include grad('yellow', #ffbf6a, #f9ec96, 10);
@include grad('black', #222222, #000000, 10);

.text_shadow1 {
    @include stroke(1, black);
    z-index: 0;
}

.text_shadow2 {
    @include stroke(2, black);
    z-index: 0;
}
</style>
