<template>
    <table class="card_settings_box">
        <tr>
            <td>
                <table>
                    <tr>
                        <td class="text_label">Faction</td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="chFaction('N')" :class="'square' + (value.faction === 'N' ? ' selected' : '')"><div class="faction_n" /></button>
                            <button @click="chFaction('NR')" :class="'square' + (value.faction === 'NR' ? ' selected' : '')"><div class="faction_nr" /></button>
                            <button @click="chFaction('NG')" :class="'square' + (value.faction === 'NG' ? ' selected' : '')"><div class="faction_ng" /></button>
                            <button @click="chFaction('MO')" :class="'square' + (value.faction === 'MO' ? ' selected' : '')"><div class="faction_mo" /></button>
                            <button @click="chFaction('ST')" :class="'square' + (value.faction === 'ST' ? ' selected' : '')"><div class="faction_st" /></button>
                            <button @click="chFaction('SK')" :class="'square' + (value.faction === 'SK' ? ' selected' : '')"><div class="faction_sk" /></button>
                            <button @click="chFaction('SY')" :class="'square' + (value.faction === 'SY' ? ' selected' : '')"><div class="faction_sy" /></button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="text_label">Frame</td>
                        <td class="text_label">Rarity</td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="chFrame('bronze')" :class="'square' + (value.frame === 'bronze' ? ' selected' : '')"><div class="frame_bronze" /></button>
                            <button @click="chFrame('gold')" :class="'square' + (value.frame === 'gold' ? ' selected' : '')"><div class="frame_gold" /></button>
                            <button @click="chFrame('leader')" :class="'square' + (value.frame === 'leader' ? ' selected' : '')"><div class="frame_leader" /></button>
                        </td>
                        <td>
                            <button @click="chRarity('common')" :class="'square' + (value.rarity === 'common' ? ' selected' : '')"><div class="rarity_common" /></button>
                            <button @click="chRarity('rare')" :class="'square' + (value.rarity === 'rare' ? ' selected' : '')"><div class="rarity_rare" /></button>
                            <button @click="chRarity('epic')" :class="'square' + (value.rarity === 'epic' ? ' selected' : '')"><div class="rarity_epic" /></button>
                            <button @click="chRarity('legendary')" :class="'square' + (value.rarity === 'legendary' ? ' selected' : '')"><div class="rarity_legendary" /></button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td class="text_label">Type</td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="chType('unit')" :class="'square' + (value.type === 'unit' ? ' selected' : '')">        <div class="type_unit" /></button>
                            <button @click="chType('special')" :class="'square' + (value.type === 'special' ? ' selected' : '')">  <div class="type_special" /></button>
                            <button @click="chType('artifact')" :class="'square' + (value.type === 'artifact' ? ' selected' : '')"><div class="type_artifact" /></button>
                            <button @click="chType('stubborn')" :class="'square' + (value.type === 'stubborn' ? ' selected' : '')"><div class="type_stubborn" /></button>
                            <button @click="chType('leader')" :class="'square' + (value.type === 'leader' ? ' selected' : '')">    <div class="type_leader" /></button>
                            <button @click="chType('elite')" :class="'square' + (value.type === 'elite' ? ' selected' : '')">    <div class="type_elite" /></button>
                        </td>
                    </tr>
                </table>
                <template v-if="value.type === 'leader'">
                    <table>
                        <tr>
                            <td class="text_label">Ability</td>
                            <td class="text_label">Icon</td>
                        </tr>
                        <tr>
                            <td>
                                <button @click="chAbility('attack')" :class="'square' + (value.ability === 'attack' ? ' selected' : '')"><div class="ability_attack" /></button>
                                <button @click="chAbility('defense')" :class="'square' + (value.ability === 'defense' ? ' selected' : '')"><div class="ability_defense" /></button>
                                <button @click="chAbility('summon')" :class="'square' + (value.ability === 'summon' ? ' selected' : '')"><div class="ability_summon" /></button>
                                <button @click="chAbility('special')" :class="'square' + (value.ability === 'special' ? ' selected' : '')"><div class="ability_special" /></button>
                                <button @click="chAbility('card')" :class="'square' + (value.ability === 'card' ? ' selected' : '')"><div class="ability_card" /></button>
                            </td>
                            <td>
                                <button @click="chCrown(false)" :class="'square' + (!value.hasCrown ? ' selected' : '')"><div class="no_crown" /></button>
                                <button @click="chCrown(true)" :class="'square' + (value.hasCrown ? ' selected' : '')"><div class="crown" /></button>
                            </td>
                        </tr>
                    </table>
                </template>
                <template v-if="value.type === 'elite'">
                    <table>
                        <tr>
                            <td class="text_label">Elite</td>
                        </tr>
                        <tr>
                            <td>
                                <button @click="chElite('f1')" :class="'square' + (value.elite === 'f1' ? ' selected' : '')"><div class="elite_f1" /></button>
                                <button @click="chElite('f2')" :class="'square' + (value.elite === 'f2' ? ' selected' : '')"><div class="elite_f2" /></button>
                                <button @click="chElite('f3')" :class="'square' + (value.elite === 'f3' ? ' selected' : '')"><div class="elite_f3" /></button>
                                <button @click="chElite('f4')" :class="'square' + (value.elite === 'f4' ? ' selected' : '')"><div class="elite_f4" /></button>
                                <button @click="chElite('f5')" :class="'square' + (value.elite === 'f5' ? ' selected' : '')"><div class="elite_f5" /></button>
                            </td>
                        </tr>
                    </table>
                </template>
                <br/>
                <div class="input_number">
                    <table style="margin: 0 auto;">
                        <tr>
                            <td class="td_num_bg" valign="bottom"><div class="power"></div></td>
                            <td class="td_num_bg" valign="bottom"><div :class="value.armorType === 'new' ? 'armor_new' : 'armor'" @click="chArmorType()"></div></td>
                        </tr>
                        <tr>
                            <td class="num"><input v-model="value.power" type="number" @input="number_validate('power')" /></td>
                            <td class="num"><input v-model="value.armor" type="number" @input="number_validate('armor')" /></td>
                        </tr>
                    </table>
                </div>
                <br/>
            </td>
            <td class="card_inputs">
                <div class="text_label">Token Name</div>
                <input type="text" v-model="value.title">

                <div class="text_label">Token Categories</div>
                <input type="text" v-model="value.categories">

                <table width="100%"><tr><td><div class="text_label">Token Description</div></td><td style="text-align: right;"><div  class="text_label tooltip">?<span class="tooltiptext" /></div></td></tr></table>
                <textarea v-model="value.description" class="input_description" multiline />
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <label class="file_label">
                        <input type="file" placeholder="" @change="loadImage" accept="image/*" />
                        <span>Load image</span>
                    </label>
                </center>
            </td>
            <td>
                <center>
                    <button class="remove_token" @click="sendRemove">Remove token</button>
                </center>
            </td>
        </tr>
    </table>
</template>

<script lang="ts">
import { Component, Watch, Prop, Vue } from 'vue-property-decorator';

@Component
export default class TokenEditor extends Vue {
    @Prop({required: true}) private value!: any;
    @Prop({required: true}) private id!: number;

    private loadImage(event: any): void {
        const image = event.target.files[0];
        const imageReader = new FileReader();

        imageReader.onload = (loadEvent: any) => {
            this.$set(this.value, 'imgSrc', loadEvent.target.result);
        };

        imageReader.readAsDataURL(image);
    }

    private chFaction(faction: string): void {
        this.$emit('input', { ...this.value, ['faction']: faction});
    }

    private chFrame(frame: string): void {
        this.$emit('input', { ...this.value, ['frame']: frame});
    }

    private chRarity(rarity: string): void {
        this.$emit('input', { ...this.value, ['rarity']: rarity});
    }

    private chType(type: string): void {
        this.$emit('input', { ...this.value, ['type']: type});
    }

    private chAbility(ability: string): void {
        this.$emit('input', { ...this.value, ['ability']: ability});
    }

    private chElite(elite: string): void {
        this.$emit('input', { ...this.value, ['elite']: elite});
    }

    private chCrown(hasCrown: boolean): void {
        this.$emit('input', { ...this.value, ['hasCrown']: hasCrown});
    }

    private chArmorType(): void {
        if (this.value.armorType === 'new') {
            this.$emit('input', { ...this.value, ['armorType']: 'old'});
        } else {
            this.$emit('input', { ...this.value, ['armorType']: 'new'});
        }
    }

    private sendRemove(): void {
        this.$emit('remove', this.id);
    }

    private number_validate(name: string): void {
        const val = this.value[name].replace(/^0+/, '');
        if (val < 0) {
            this.$set(this.value, name, 0);
            this.$emit('input', { ...this.value, [name]: 0});
            return;
        }
        if (val > 99) {
            this.$set(this.value, name, 99);
            this.$emit('input', { ...this.value, [name]: 99});
            return;
        }
        this.$set(this.value, name, val);
        this.$emit('input', { ...this.value, [name]: val});
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '@/scss/common.scss';

table {
    margin: 0;
    padding: 0;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.card_inputs {
    padding: 0 0 0 20px;
    width: 350px;
}

.card_settings_box {
    padding: 50px;
    border-image: url(/img/bg.png) 50 fill /50px stretch stretch;
    width: 890px;
}

</style>
