<template>
    <div id="app">
        <div class="logo"></div>
        <router-view/>
            <div id="main_footer">
                <span class="not_affiliated">This website is not affiliated with CD PROJEKT RED and made in accordance with <a target="_blank" href="https://www.playgwent.com/en/fan-content">FAN CONTENT GUIDELINES</a></span>
                <br/>
                <span class="not_affiliated">All content from Gwent: The Witcher Card Game® is property of CD PROJEKT RED</span>
                </br>
                </br>
                Made by <img src="/img/reddit.png" style="vertical-align: top; margin: 0 2px 0 0;"/> <a target="_blank" href="https://www.reddit.com/message/compose/?to=Kegian">Kegian</a>
            </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Home extends Vue {
}
</script>

<style lang="scss">
html {
  margin: 0;
  padding: 0;
    background: url(/img/site_bg.jpg);
}

body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

#main_footer {
    margin: 100px 0 40px 0;
    color: #555;
}

#main_footer a {
    color: #888;
    text-decoration: none;
}

.logo {
    display: inline-block;
    background: url(/img/logo.png);
    width: 426px;
    height: 182px;
}

.not_affiliated {
    text-transform: uppercase;
}

input[type="file"] {
    cursor: pointer;
}

button {
    background: #2b1e16;
    border-image: url(/img/buttons/button.png) 11 fill /11px stretch stretch;
    cursor: pointer;
}

button:hover {
    border-image: url(/img/buttons/button_hover.png) 11 fill /11px stretch stretch;
    cursor: pointer;
}

button:active {
    border-image: url(/img/buttons/button_active.png) 11 fill /11px stretch stretch;
    cursor: pointer;
}

.selected {
    border-image: url(/img/buttons/button_active.png) 11 fill /11px stretch stretch;
    cursor: pointer;
}

.selected:hover {
    border-image: url(/img/buttons/button_active.png) 11 fill /11px stretch stretch;
    cursor: default;
}

.strong {
    border-image: url(/img/buttons/button_strong.png) 11 fill /11px stretch stretch;
    cursor: pointer;
}

.strong:hover {
    border-image: url(/img/buttons/button_strong_hover.png) 11 fill /11px stretch stretch;
    cursor: pointer;
}
</style>
