$input-bg-color: #e2cca9;
$input-border-color: #2b1e16;

$description-color: #29170d;
$keyword-color: #600101;
$token-title-color: #1e1327;

$button-text-color: #ddd;

@font-face {
    font-family: "Gwent";
    src: url(/fonts/gwent.ttf) format("truetype");
}

@font-face {
    font-family: "Halis";
    src: url(/fonts/HalisGR-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Halis";
    src: url(/fonts/HalisGR-Bold.otf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Halis";
    src: url(/fonts/HalisGR-LightItalic.otf) format("opentype");
    font-style: italic;
}

@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

.bg_black {
    background: black;
}

.bg_white {
    background: white;
}

.bg_transparent {
}

.shadowed {
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}


.square {
    margin: 0 5px 0 0;
    width: 50px;
    height: 50px;
}

.input_number {
    text-align: center;
}

.input_number input[type="number"] {
    margin: 0;
    padding: 0;
    height: 46px;
    width: 46px;
    font-size: 35px;
    text-align: center;
    border: 2px solid $input-border-color;
    border-radius: 10px;
    background: $input-bg-color;
    font-family: "Gwent";
}

.input_description {
    height: 100px;
}

.input_flavour {
    height: 50px;
}

.text_label {
    padding: 15px 0 3px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Gwent";
    font-size: 22px;
    color: $keyword-color;
}

input[type="number"] {
    -moz-appearance: textfield;
    color: black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

textarea {
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 100%;
    font-size: 15px;
    border: 2px solid #2b1e16;
    border-radius: 5px;
    background: #e2cca9;
    resize: vertical;
    color: black;
}

input[type="text"] {
    padding: 0 10px 0 10px;
    font-size: 17px;
    font-weight: bold;
    height: 35px;
    width: calc(100% - 20px);
    border: 2px solid #2b1e16;
    border-radius: 5px;
    background: #e2cca9;
    color: black;
}

@mixin rarity($rarity) {
    width: 100%;
    height: 100%;
    background: url("/img/elements/rarity/"+$rarity+".png") no-repeat center;
    background-size: 50% auto;
}

.rarity_common {
    @include rarity(common);
}

.rarity_rare {
    @include rarity(rare);
}

.rarity_epic {
    @include rarity(epic);
}

.rarity_legendary {
    @include rarity(legendary);
}

@mixin faction($faction) {
    width: 100%;
    height: 100%;
    background: url("/img/buttons/"+$faction+".png") no-repeat center;
    background-size: 40px 40px;
}

.faction_no {
    width: 100%;
    height: 100%;
}

.faction_n {
    @include faction(N);
}

.faction_nr {
    @include faction(NR);
}

.faction_ng {
    @include faction(NG);
}

.faction_mo {
    @include faction(MO);
}

.faction_st {
    @include faction(ST);
}

.faction_sk {
    @include faction(SK);
}

.faction_sy {
    @include faction(SY);
}

@mixin type($type) {
    width: 100%;
    height: 100%;
    background: url("/img/buttons/type_"+$type+".png") no-repeat center;
    background-size: 35px 35px;
}

.type_unit {
    @include type(unit);
}

.type_special {
    @include type(special);
}

.type_artifact {
    @include type(artifact);
}

.type_stubborn {
    @include type(stubborn);
}

.type_leader {
    @include type(leader);
}

.type_elite {
    @include type(elite);
}

.no_crown {
    width: 100%;
    height: 100%;
}

.crown {
    width: 100%;
    height: 100%;
    background: url("/img/buttons/crown.png") no-repeat center;
    background-size: 35px 35px;
}

@mixin ability($ability) {
    width: 100%;
    height: 100%;
    background: url("/img/buttons/ability_"+$ability+".png") no-repeat center;
    background-size: 30px 30px;
}

.ability_attack {
    @include ability(attack);
}

.ability_defense {
    @include ability(defense);
}

.ability_special {
    @include ability(special);
}

.ability_summon {
    @include ability(summon);
}

.ability_card {
    @include ability(card);
}

@mixin elite($elite) {
    width: 100%;
    height: 100%;
    background: url("/img/buttons/elite_"+$elite+".png") no-repeat center;
    background-size: 30px 30px;
}

.elite_f1 {
    @include elite(f1);
}

.elite_f2 {
    @include elite(f2);
}

.elite_f3 {
    @include elite(f3);
}

.elite_f4 {
    @include elite(f4);
}

.elite_f5 {
    @include elite(f5);
}

@mixin frame($frame) {
    width: 100%;
    height: 100%;
    background: url("/img/buttons/frame_"+$frame+".png") no-repeat center;
    background-size: 30px 30px;
}

.frame_bronze {
    @include frame(bronze);
}

.frame_gold {
    @include frame(gold);
}

.frame_leader {
    @include frame(leader);
}

@mixin num_bg($type) {
    display: inline-block;
    margin: 0 0 1px 0;
    width: 60px;
    height: 38px;
    background: url("/img/buttons/"+$type+".png") no-repeat bottom;
    background-size: 38px 38px;
}

.td_num_bg {
    line-height: 0;
}

.power {
    @include num_bg(power);
}

.armor {
    @include num_bg(armor);
    background-size: 50px 38px;
    cursor: pointer;
}

.armor_new {
    @include num_bg(armor_new);
    background-size: 50px 38px;
    cursor: pointer;
}

.provision {
    @include num_bg(provision);
}

.num {
    width: 60px;
    text-align: center;
}

label.file_label input[type="file"] {
    position:absolute;
    display: none;
}

.file_label {
    display: inline-block;
    padding: 20px;
    border-image: url(/img/buttons/button.png) 11 fill /11px stretch stretch;
    cursor: pointer;
}

.file_label:hover {
    border-image: url(/img/buttons/button_hover.png) 11 fill /11px stretch stretch;
}

.file_label:active {
    border-image: url(/img/buttons/button_active.png) 11 fill /11px stretch stretch;
}

.file_label span {
    text-transform: uppercase;
    font-family: "Gwent";
    font-size: 25px;
    color: $button-text-color;;
}

.remove_token {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Gwent";
    font-size: 25px;
    color: #d55;
}

.add_token {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Gwent";
    font-size: 25px;
    color: $button-text-color;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: black;
    cursor: pointer;
}

.tooltiptext {
    display: none;
    position: absolute;
    width: 300px;
    text-align: left;
    background: #a28d6e;
    padding: 5px;
    margin: -5px 0 0 25px;
    color: black;
    border: 1px solid #333;
    font-family: "Halis";
    text-transform: none;
    font-weight: normal;
    font-size: 18px;
}

.tooltip:hover .tooltiptext {
    display: block;
}

.tooltiptext:after {
    content: 'For a bold text use: [your text]. HTML tags supported.';
}
